@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme inline {
  --color-primary-50: #effdf5;
  --color-primary-100: #d1fae5;
  --color-primary-200: #a7f3d0;
  --color-primary-300: #6ee7b7;
  --color-primary-400: #34d399;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-primary-800: #065f46;
  --color-primary-900: #064e3b;
  --color-primary-950: #022c22;
  
  --color-accent-50: #fffbeb;
  --color-accent-100: #fef3c7;
  --color-accent-200: #fde68a;
  --color-accent-300: #fcd34d;
  --color-accent-400: #fbbf24;
  --color-accent-500: #f59e0b;

  --font-sans: var(--font-inter);
  --font-khmer: var(--font-khmer);
  --font-koulen: var(--font-koulen);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-khmer), var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #059669;
  border-radius: 0px; /* modified */
}
::-webkit-scrollbar-thumb:hover {
  background: #047857;
}

/* Force all corners to be square */
* {
  border-radius: 0 !important;
}
